:root {
    --mirage: #142D4C;
    --sinbad: #9FD3C7;
    --gallery: #ECECEC;
    --san-marino: #385170;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}